<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/styles_upsl.css">
</head>
<body>
{% extends "layout.html" %}

{% block title %}添加任务{% endblock %}

{% block content %}
<div class="container">
    <div class="form-container">
        <h1 class="form-title">添加用户</h1>
        <form action="/pro_management/html/add_users" method="post" id="form_sync">
            <label for="username">用户名</label>
            <input id="username" name="username">
            <label for="password">输入密码</label>
            <input type="password" id="password" name="password">
            <label for="affirm_password">确认密码</label>
            <input type="password" id="affirm_password" name="affirm_password">
            <br>
            {% if message %}
            <p>{{ message }}</p>
            {% endif %}
            <div class="radio-container">
                <input type="submit" name="action" value="添加">
            </div>
            <div class="radio-container">
                <input type="submit" name="action" value="更新">
            </div>
        </form>
    </div>
    <div class="field-info">
        <h1 class="success-title">用户列表</h1>
        <form action="/pro_management/html/add_users" method="post">
            <div class="button-container">
                <div class="radio-container">
                    <input type="submit" name="action" value="确定删除">
                </div>
            </div>
            <table>
                <tr>
                    <th>设置状态</th>
                    <th>用户名</th>
                    <th>菜单权限</th>
                    <th>配置操作</th>
                </tr>
                {% for user in user_list %}
                <tr>
                    <td>{% if loop.index == 1 %}
                        <input type="checkbox" name="selected_user[]" value="{{ user }}"
                               disabled>
                        {% else %}
                        <input type="checkbox" name="selected_user[]"
                               value="{{ user }}">
                        {% endif %}
                    </td>
                    <td>{{ user }}</td>
                    <form method="post">
                            <td style="vertical-align: top;">
                                <div class="searchable">
                                    <input type="hidden" name="user_name"
                                           id="user_name"
                                           value="{{user}}">
                                    <input class="selectedOptions search-input"
                                           id="dependencies"
                                           name="dependencies"
                                           readonly>
                                    <br>
                                    {% for result_node in result_permissions %}
                                    {% if result_node[1] == user %}
                                    {{ result_node[0]|safe }}
                                    {% endif %}
                                    {% endfor %}
                                    <div class="optionsContainer">
                                        <input type="text"
                                               class="search-input searchInput"
                                               placeholder="搜索选项">
                                        {% for option in menu_lists %}
                                        {% if option != user %}
                                        <div class="option">
                                            <input type="checkbox" class="checkboxOption"
                                                   value="{{ option }}"
                                                   {% for result_node in result_permissions %}
                                                   {% if result_node[1]==
                                                   user %}
                                                   {% for option_reslt in
                                                   result_node[0].split('<br>')%}
                                            {% if option_reslt == option %}
                                            checked
                                            {%endif %}
                                            {% endfor %}
                                            {% endif %}
                                            {% endfor %}
                                            > {{ option }}
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="search-icon searchIcon">&#128269;</div>
                                </div>
                            </td>
                            <td style="vertical-align: top;">

                                <div>
                                    <!-- onclick="event.preventDefault();"
                                                  <button class="cancelButton">取消</button>-->
                                    <button class="editButton"
                                            onclick="event.preventDefault();">
                                        编辑
                                    </button>
                                    <button class="saveButton"
                                            type="submit"
                                            name="save_button">
                                        保存
                                    </button>
                                    <button class="cancelButton"
                                            onclick="event.preventDefault();"
                                            name="cancelButton">
                                        取消
                                    </button>

                                </div>
                            </td>
                        </form>
                </tr>
                {% endfor %}
            </table>
        </form>
    </div>
</div>
<script src="../../static/js/edit_nodes.js"></script>
{% endblock %}
</body>
</html>
