<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/styles_upsl.css">
</head>
<body>
{% extends "layout.html" %}

{% block title %}添加任务{% endblock %}

{% block content %}
<div class="container">
    <div class="form-container">
        <h1 class="form-title">添加数据源</h1>
        <form action="/pro_management/html/data_source" method="post" id="form_sync">
            <label for="system_type">业务系统</label>
            <input type="text" id="system_type" name="system_type"
                   placeholder="提示[英文、数字、下划线]"
                   required pattern="\w{2,255}"><br>
            <div class="radio-container">
                <label for="data_type">数据库类型</label>
            </div>
            <div class="radio-container">
                <select name="data_type" id="data_type" required>
                    <option value="">请选择-必填</option>
                    <option value="SqlServer" {% if data_type=='SqlServer' %}selected{%
                            endif
                            %}>SqlServer
                    </option>
                    <option value="Greenplum" {% if data_type=='Greenplum' %}selected{%
                            endif
                            %}>Greenplum
                    </option>
                    <option value="Mysql" {% if data_type=='Mysql' %}selected{% endif
                            %}>Mysql
                    </option>
                </select>
            </div>
            <br>
            <label for="data_url">URL</label>
            <input type="text" id="data_url" name="data_url"
                   placeholder="提示[//账户:密码@IP:端口/数据库]">
            <br>
            {% if message %}
            <p>{{ message }}</p>
            {% endif %}
            <div class="radio-container">
                <input type="submit" name="action" value="添加更新">
            </div>
            <div class="radio-container">
                <input type="submit" name="action" value="测试连接">
            </div>
        </form>
    </div>
    <div class="field-info">
        <h1 class="success-title">数据源列表</h1>
        <form action="/pro_management/html/data_source" method="post">
            <div class="button-container">
                <div class="radio-container">
                    <input type="submit" name="action" value="确定删除">
                </div>
            </div>
            <table>
                <tr>
                    <th>设置状态</th>
                    <th>业务系统</th>
                    <th>数据库类型</th>
                    <th>URL</th>
                </tr>
                {% for data_key, data_value in db_list.items() %}
                <tr>
                    <td>
                        {% if loop.index == 1 %}
                        <input type="checkbox" name="selected_db[]" value="{{ data_key }}"
                               disabled>
                        {% else %}
                        <input type="checkbox" name="selected_db[]"
                               value="{{ data_key }}">
                        {% endif %}
                    </td>
                    <td>{{ data_key }}</td>
                    {% for key, value in data_value.items() %}
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </form>
    </div>
</div>
{% endblock %}
</body>
</html>
